body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    color: #F2F9FF;
}
main{
    height: 1000px;
    width: 600px;
    background-color: white;
    color: #E195AB;
}
#main{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
header{
    height: 60px;
    background-color: #FFCCE1;
    display: flex;
    align-items: center;
    justify-content: center;
}
#addingLogo{
    color: black;
    font-size: 4em;
}
#addingLogo:hover {
    opacity: 0.5;
}
.book{
    border: 1px solid  #E195AB;
    width: 90%;
    text-align: center;
    padding: 10px;
    box-shadow: #E195AB 5px 5px;
}
.book:hover{
    border: 1px solid  #E195AB;
    width: 90%;
    text-align: center;
    padding: 10px;
    box-shadow: #E195AB 10px 10px;
}
#authorDisplay{
    font-weight: bold;
}
#addBookDialog{
    height: 300px;
    width: 300px;
    border: 5px solid #E195AB;
    
}

#addBookDialog form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
    
}

.formulaire>input:hover{
    border: 2px solid #E195AB;
}
menu button{
    border: none;
}
menu button:hover {
    box-shadow: #E195AB 2px 2px;
}


#dialogBook{
    height: 300px;
    width: 300px;
    border: 5px solid #E195AB;
}

#BookDisplay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
#BookDetail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}